
body {
    background-image: url('./doakes.gif');
    background-size: cover;
    background-repeat: no-repeat;
}

#Home {
    background-image: url('./something.jpg');
    background-size: cover;
    background-repeat: no-repeat;
   
}