{% extends 'pages/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<br>
<div class="container bg-dark p-5 form-layout">
    
    <div class="card">
        <strong>
            <br>
            &nbsp; &nbsp;
            {{record.last_name|upper}}
            {{record.first_name}}
        </strong>
        <hr>
        <div class="card_body">
            <p><strong>ID:</strong>{{record.id}}</p>
            <p><strong>Email:</strong>{{record.email}}</p>
            <p><strong>Phone Number:</strong>{{record.phone}}</p>
            <p><strong>Address:</strong>{{record.address}}</p>
            <p><strong>City:</strong>{{record.city}}</p>
            <p><strong>Creation Date:</strong>{{record.creation_data}}</p>
        </div>
    </div>

    <h3>Create Record</h3>

    <h6>Add in the required details</h6>

    <hr>
    <br>
    <form method="POST" autocomplete="off">
        {% csrf_token %}
        {{create_form|crispy}}
        <br>
        <button type="submit" class="btn btn-primary w-100 btn-block p-2">Create Record</button>
    </form>

</div>

    <br>
    <a href="{% url 'dashboard' %}" class="btn btn-secondary">Return to dashboard</a>
    &nbsp
    <a href="{% url 'update_record' record.id %}" class="btn btn-info">Update Record</a>
    &nbsp
    <a href="{% url 'delete_record' record.id %}" class="btn btn-danger">Delete</a>
    <br>

    <br>
    
{% endblock %}